[submodule "report"]
	path = report
	url = git@github.com:achariso/gans-thesis-report.git
[submodule "stylegan3"]
	path = stylegan3
	url = https://github.com/NVlabs/stylegan3.git
[submodule "src/modules/stylegan3"]
	path = src/modules/stylegan3
	url = https://github.com/NVlabs/stylegan3.git
