# Created from pipreqs (command: "pipreqs .")
click
torch>=1.10.1
torchvision
humanize
matplotlib
colorlog
prettytable
requests
tqdm
numpy
Pillow
ipython
scipy
httplib2==0.15.0
oauth2client
google-api-python-client
pydrive
tensorboard
pyyaml>=5.1
h5py